// Importation du fichier de variables.
@import "libs/variables.scss";

body {
  font-family: "DM Sans", sans-serif;
  width: $page;
  padding: 40px 100px;
  margin: auto;
}

// Logo, titre et barre de recherche.
header {
  width: $page;
  color: #d04f4f;
  font-size: 18px;
  font-weight: 700;
  text-align: center;

  // Paragraphe du logo.
  > #logo-p {
    line-height: 0;
    margin: auto 0;
  }

  // Titre.
  > h1 {
    width: 268px;
    height: 47px;
    margin: 20px auto 20px auto;
  }

  // Barre de recherche.
  > #search {
    display: flex;
    justify-content: center;

    // Champ de saisie et bouton.
    > #search-input,
    > #search-button {
      background: $lightGrey;
      font-family: "Lato", sans-serif;
      font-size: 18px;
      width: 1130px;
      height: 65px;
      outline: none;
      padding: 0 20px;
      border-color: $lightGrey;
      border-radius: 5px 0 0 5px;
      border-width: 0px;
    }
    > #search-input:focus {
      outline: none;
    }
    // Pseudo-élément "placeholder" pour modifier son style.
    > #search-input::placeholder {
      color: darken($lightGrey, 60);
    }

    // Bouton avec loupe.
    > #search-button {
      width: 70px;
      height: 69px;
      padding: 0;
      border-radius: 0 5px 5px 0;
      &:hover,
      &:focus {
        background: darken($lightGrey, 10);
      }

      // Icône seule.
      > #loupe {
        margin: 19px;
      }
    }
  }
}

// Ligne d'apparition des tags.
#tagLine {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 30px;

  // Chacun des tags dans chacun des 3 tableaux.
  > .chosen-tag-1,
  > .chosen-tag-2,
  > .chosen-tag-3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    padding: 7px 20px;
    border-radius: 5px;
    margin: 0 10px 10px 0;

    // Texte du tag.
    > .tag-text {
      margin-right: 10px;
    }

    // Icône de fermeture.
    > .tag-img {
      cursor: pointer;
    }
  }

  // Chacun des tags "ingrédients".
  > .chosen-tag-1 {
    background: $colorIngr;
  }

  // Chacun des tags "appareils".
  > .chosen-tag-2 {
    background: $colorAppa;
  }

  // Chacun des tags "ustensiles".
  > .chosen-tag-3 {
    background: $colorUste;
  }
}

// Ligne des menus déroulants.
#dropdown-line {
  display: flex;
  margin-top: 10px;
  position: absolute;

  // Menus fermés.
  > .dropdown-closed {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    color: white;
    font-family: "Lato", sans-serif;
    font-size: 18px;
    text-decoration: none;
    width: 130px;
    height: 69px;
    padding: 0 20px;
    border-radius: 5px;
  }

  // Menu "Ingrédients" fermé et ouvert.
  > #drop-ingr-closed,
  #drop-ingr-open {
    background: $colorIngr;
    margin: 0 10px 10px 0;
  }

  // Menu "Appareils" fermé et ouvert.
  > #drop-appa-closed,
  #drop-appa-open {
    background: $colorAppa;
    margin: 0 10px 10px 10px;
  }

  // Menu "Ustensiles" fermé et ouvert.
  > #drop-uste-closed,
  #drop-uste-open {
    background: $colorUste;
    margin: 0 0 10px 10px;
  }

  // Menus ouverts.
  > .dropdown-open {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    color: white;
    font-family: "Lato", sans-serif;
    font-size: 18px;
    text-decoration: none;
    width: 630px;
    height: 330px;
    padding: 0 20px 0 20px;
    border-radius: 5px;

    // 1ère ligne avec l'input et la flèche vers le haut.
    > .drop-open-1stLine {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 630px;
      margin: 20px 40px 0 40px;

      // Input de chaque menu ouvert.
      > .drop-input {
        display: flex;
        color: white;
        font-size: 18px;
        width: 600px;
        height: 30px;
        border-radius: 5px;
        border-width: 0px;
      }
      // Pseudo-élément "placeholder" pour modifier son style.
      > .drop-input::placeholder {
        color: darken($lightGrey, 60);
      }

      // Input des ingrédients.
      > #drop1-input {
        background: $colorIngr;
      }

      // Input des appareils.
      > #drop2-input {
        background: $colorAppa;
      }

      // Input des ustensiles.
      > #drop3-input {
        background: $colorUste;
      }

      // Flèche vers le haut.
      > .up-arrow {
        display: flex;
      }
    }

    // Partie contenant chacune des 3 listes.
    > .expanded-drop {
      display: flex;
      align-items: flex-start;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      overflow-y: auto;
      width: 630px;
      padding: 0 20px 0 20px;
      border-radius: 5px;

      // Chaque élément de la liste.
      > .exp-drop-line {
        display: inline-block;
        width: 33%;
        padding: 3px 0;
        &:hover {
          color: black;
        }
      }
    }

    // Liste des ingrédients.
    > #expanded-drop1 {
      background: $colorIngr;
    }

    // Liste des appareils.
    > #expanded-drop2 {
      background: $colorAppa;
    }

    // Liste des ustensiles.
    > #expanded-drop3 {
      background: $colorUste;
    }
  }
}

// Ligne du message "Aucune recette...".
#no-recipe {
  text-align: center;
  margin-top: 20px;

  // Paragraphe caché.
  > .no-recipe-line {
    display: none;
  }

  // Paragraphe visible.
  > .no-recipe-line-open {
    display: inline;
    color: #d04f4f;
    font-size: 16px;
    font-weight: bold;
    padding: 15px;
    border-radius: 5px;
    position: relative;
    top: 115px;
  }
}

// Contenu principal.
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 115px;
  z-index: 0;
  position: static;

  // Chaque carte de recette.
  > .section {
    width: $card;
    height: 364px;
    margin-bottom: 50px;

    // Haut de la carte pour l'emplacement de l'image.
    > .section-top {
      background: #c7bebe;
      width: $card;
      height: 178px;
    }

    // Bas de la carte pour les textes.
    > .section-bottom {
      background: $lightGrey;
      font-family: "Lato", sans-serif;
      width: $card;
      height: 186px;

      // Titre et durée.
      > .bottom-title-time {
        display: flex;
        justify-content: center;
        font-size: 18px;
        width: 340px;
        height: $cardTitle;
        padding: 0 20px;

        // Titre seul.
        > .bottom-title {
          display: flex;
          align-items: center;
          width: 250px;
          height: $cardTitle;
        }

        // Durée seule.
        > .bottom-time {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          font-weight: bold;
          width: 90px;
          height: $cardTitle;

          // Icône de durée seule.
          > #temps {
            margin-right: 5px;
          }
        }
      }

      // Description : ingrédients et recette.
      > .bottom-descr {
        display: flex;
        justify-content: center;
        font-size: 12px;
        width: 340px;
        height: 136px;
        padding: 0 20px;

        // Ingrédients seuls.
        > .bottom-ingr {
          display: flex;
          align-items: flex-start;
          flex-direction: column;
          width: 170px;
          height: 136px;
          padding-top: 5px;
          padding-right: 10px;
        }

        // Recette seule.
        > .bottom-recipe {
          font-family: "Roboto", sans-serif;
          width: 170px;
          height: 120px;
          overflow: hidden;
          padding-top: 5px;
          margin-bottom: 16px;
        }
      }
    }
  }
}
